.git
.github
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
database/*.sqlite
database/*.sqlite-journal
.env
.env.backup
.phpunit.result.cache
.idea
.vscode
*.md
!README.md
docker-compose.yml
local_database.sqlite
